* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Content' , 'HarmonyOS Sans SC' , sans-serif;
}
@font-face {
    font-family: 'Title';
    src: url(fonts/slack-light.otf) format('opentype');
}
@font-face {
    font-family: 'Content';
    src: url(fonts/SinkinSans-300Light.otf);
}
body {
    background-color: black;
}
a > * {
    pointer-events: none;
}
.home-page {
    background-image: url(i/holo.avif);
    background-size: cover;
    padding: 50px;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    .titlebox {
        position: relative;
        border: 1px solid rgb(140 140 140);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        .home-lang {
            position: absolute;
            top: 0;
            right: 0;
            border-left: 1px solid rgb(140 140 140);
            border-bottom: 1px solid rgb(140 140 140);
            width: 50px;
            aspect-ratio: 1/1;
            color: black;
            background-color: rgb(255 255 255 / 1);
            transition: background-color 0.4s;
            &::before {
                content: '中';
                position: absolute;
                font-size: 20px;
                top: 0;
                left: 4px;
            }
            &::after {
                content: 'EN';
                position: absolute;
                bottom: 0;
                right: 4px;
            }
            .line-svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: visible;
            }
            .line {
                stroke: rgb(140 140 140);
                stroke-width: 1;
            }
            &:hover {
                background-color: rgb(255 200 200 / 1);
            }
        }
        .titleimg {
            position: relative;
            border: 1px solid black;
            background-color: rgb(255 255 255 / 0);
            background-image: url(i/button-title.gif);
            background-size: 192px 64px;
            background-position: center -4px;
            background-repeat: no-repeat;
            image-rendering: pixelated;
            width: 240px;
            max-width: 90%;
            aspect-ratio: 5/2;
            margin-top: 80px;
            transition: background-color 0.6s;
            text-decoration: none;
            p {
                position: absolute;
                bottom: 0px;
                left: 10px;
                color: black;
                font-size: 24px;
                text-align: center;
            }
            div {
                position: absolute;
                bottom: 0px;
                right: 4px;
                background-image: url(i/arrow.svg);
                background-size: contain;
                width: 40px;
                height: 40px;
                transform: rotate(-90deg);
                transition: transform 0.5s;
            }
            &:hover {
                background-color: rgb(255 255 255 / 1);
                div {
                    transform: rotate(-135deg);
                }
            }
        }
        .title-header {
            font-family: 'Title';
            font-size: 120px;
            user-select: none;
        }
        .title-description {
            font-size: 20px;
            color: black;
            letter-spacing: 1px;
            word-spacing: 2px;
            user-select: none;
            margin-top: 20px;
        }
        .title-navbar {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 60px;
            border: 1px solid rgb(255 0 0 / 0.0);
            //border: 1px dashed red;
            .home-navbtn {
                display: block;
                font-size: 16px;
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                margin: 0 10px;
                div {
                    width: 100%;
                    height: 1px;
                    background-color: black;
                    transition: height 0.4s ease-out;
                }
                &:hover {
                    div {
                        height: 8px;
                    }
                }
            }
            .home-link {
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                margin: 0 10px;
                transition: transform 0.4s;
                //border: 1px dashed red;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .github {
                width: 40px;
                aspect-ratio: 1/1;
                background-image: url(i/github.svg);
                background-size: contain;
            }
            .npm {
                width: 60px;
                height: 40px;
                background-image: url(i/npm.svg);
                background-size: 60px auto;
            }
        }
    }
}
.changelog-page {
    color: white;
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
    }
}

@media (max-width:768px){
    .home-page {
        padding: 20px;
        .titlebox {
            .titleimg {
                margin-top: 40px;
            }
            .title-header {
                font-size: 40px;
            }
            .title-description {
                font-size: 16px;
                letter-spacing: 0;
                word-spacing: 0;
            }
            .title-navbar-main {
                height: auto;
                flex-direction: column;
                align-items: center;
                .home-navbtn {
                    margin-top: 10px;
                }
            }
        }
    }
}