* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Content' , 'HarmonyOS Sans SC' , sans-serif;
}
@font-face {
    font-family: 'Title';
    src: url(fonts/slack-light.otf) format('opentype');
}
@font-face {
    font-family: 'Content';
    src: url(fonts/SinkinSans-300Light.otf);
}
body {
    background-color: black;
    min-width: 100%;
    min-height: 100vh;
    min-height: 100dvh;
}
a > * {
    pointer-events: none;
}
.fade-in-bottom {-webkit-animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both; animation: fade-in-bottom 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.5s both;}
.fade-in-bottom2 {-webkit-animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) 0.8s both;animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) 0.8s both}
.fade-in-bottom3 {-webkit-animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) 1.1s both;animation:fade-in-bottom .6s cubic-bezier(.39,.575,.565,1.000) 1.1s both}
@-webkit-keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}@keyframes fade-in-bottom{0%{-webkit-transform:translateY(50px);transform:translateY(50px);opacity:0}100%{-webkit-transform:translateY(0);transform:translateY(0);opacity:1}}
.home-page {
    background-image: url(i/holo.avif);
    background-size: cover;
    padding: 50px;
    width: 100%;
    height: 100vh;
    height: 100dvh;
    .titlebox {
        position: relative;
        border: 1px solid rgb(140 140 140);
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-items: center;
        text-align: center;
        footer {
            position: absolute;
            bottom: 0;
            width: fit-content;
            color: black;
            font-size: 12px;
            text-align: center;
            a {
                color: black;
                text-decoration: none;
            }
        }
        .home-lang {
            position: absolute;
            top: 0;
            right: 0;
            border-left: 1px solid rgb(140 140 140);
            border-bottom: 1px solid rgb(140 140 140);
            width: 50px;
            aspect-ratio: 1/1;
            color: black;
            background-color: rgb(255 255 255 / 1);
            transition: background-color 0.4s;
            &::before {
                content: '中';
                position: absolute;
                font-size: 20px;
                top: 0;
                left: 4px;
            }
            &::after {
                content: 'EN';
                position: absolute;
                bottom: 0;
                right: 4px;
            }
            .line-svg {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                overflow: visible;
            }
            .line {
                stroke: rgb(140 140 140);
                stroke-width: 1;
            }
            &:hover {
                background-color: rgb(255 200 200 / 1);
            }
        }
        .titleimg {
            position: relative;
            border: 1px solid black;
            background-color: rgb(255 255 255 / 0);
            background-image: url(i/button-title.gif);
            background-size: 192px 64px;
            background-position: center -4px;
            background-repeat: no-repeat;
            image-rendering: pixelated;
            width: 240px;
            max-width: 90%;
            aspect-ratio: 5/2;
            margin-top: 80px;
            transition: background-color 0.6s;
            text-decoration: none;
            p {
                position: absolute;
                bottom: 0px;
                left: 10px;
                color: black;
                font-size: 24px;
                text-align: center;
            }
            div {
                position: absolute;
                bottom: 0px;
                right: 4px;
                background-image: url(i/arrow.svg);
                background-size: contain;
                width: 40px;
                height: 40px;
                transform: rotate(-90deg);
                transition: transform 0.5s;
            }
            &:hover {
                background-color: rgb(255 255 255 / 1);
                div {
                    transform: rotate(-135deg);
                }
            }
        }
        .title-header {
            font-family: 'Title';
            font-size: 120px;
            user-select: none;
        }
        .title-description {
            font-size: 20px;
            color: black;
            letter-spacing: 1px;
            word-spacing: 2px;
            user-select: none;
            margin-top: 20px;
        }
        .title-navbar {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
            height: 60px;
            border: 1px solid rgb(255 0 0 / 0.0);
            //border: 1px dashed red;
            .home-navbtn {
                display: block;
                font-size: 16px;
                text-decoration: none;
                color: black;
                text-transform: uppercase;
                margin: 0 10px;
                div {
                    width: 100%;
                    height: 1px;
                    background-color: black;
                    transition: height 0.4s ease-out;
                }
                &:hover {
                    div {
                        height: 8px;
                    }
                }
            }
            .home-link {
                display: block;
                background-repeat: no-repeat;
                background-position: center;
                margin: 0 10px;
                transition: transform 0.4s;
                //border: 1px dashed red;
                &:hover {
                    transform: scale(1.1);
                }
            }
            .github {
                width: 40px;
                aspect-ratio: 1/1;
                background-image: url(i/github.svg);
                background-size: contain;
            }
            .npm {
                width: 60px;
                height: 40px;
                background-image: url(i/npm.svg);
                background-size: 60px auto;
            }
        }
    }
}
.docs-page {
    .docs-wrapper {
        display: grid;
        grid-template-columns: 320px auto;
        .docs-panel {
            position: relative;
            height: 100vh;
            height: 100dvh;
            border-right: 1px solid white;
            overflow-y: auto;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
            .docs-panel-topbar {
                width: 100%;
                height: 110px;
                background-image: url(i/holo.avif);
                background-position: center;
                background-size: cover;
                position: sticky;
                top: 0;
                z-index: 100;
                .docs-panel-topbar-logo {
                    display: block;
                    width: 192px;
                    height: 64px;
                    margin: 0 auto;
                    background-image: url(i/button-title.gif);
                    background-size: 192px 64px;
                    background-position: center;
                    background-repeat: no-repeat;
                    image-rendering: pixelated;
                    //border: 1px dashed red;
                }
                .docs-panel-topbar-navbar {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: nowrap;
                    justify-content: center;
                    align-items: flex-end;
                    width: 100%;
                    height: 40px;
                    .docs-panel-topbar-navbtn {
                        font-size: 18px;
                        text-decoration: none;
                        color: black;
                        margin: 0 8px;
                        div {
                            width: 100%;
                            height: 1px;
                            background-color: black;
                            transition: height 0.4s ease-out;
                        }
                        &:hover {
                            div {
                                height: 8px;
                            }
                        }
                    }
                }
            }
            .docs-panel-list {
                width: 100%;
                height: auto;
                color: white;
                position: relative;
                .footer-gap {
                    width: 100%;
                    height: 40px;
                }
                .docs-panel-list-folder {
                    width: 100%;
                    height: 60px;
                    min-height: 60px;
                    border-bottom: 1px solid white;
                    display: block;
                    overflow: hidden;
                    position: relative;
                    user-select: none;
                    .docs-panel-list-folder-icon {
                        width: 40px;
                        aspect-ratio: 1/1;
                        background-image: url(i/fold.svg);
                        background-size: 30px 30px;
                        background-position: center;
                        background-repeat: no-repeat;
                        position: absolute;
                        right: 10px;
                        top: 10px;
                        border-radius: 20px;
                        background-color: rgb(255 255 255 / 0);
                        transition: 0.4s;
                        &:hover {
                            background-color: rgb(255 255 255 / 0.2);
                        }
                    }
                    p {
                        width: 100%;
                        height: 60px;
                        font-size: 18px;
                        line-height: 60px;
                        padding: 0 0 0 14px;
                        background-color: rgb(255 255 255 / 0);
                        user-select: none;
                        transition: background-color 0.4s;
                        &:hover {
                            background-color: rgb(255 255 255 / 0.2);
                        }
                    }
                    .docs-panel-list-item {
                        display: block;
                        position: relative;
                        width: 100%;
                        height: 40px;
                        font-size: 16px;
                        line-height: 40px;
                        padding: 0 0 0 40px;
                        color: white;
                        text-decoration: none;
                        background-color: rgb(255 255 255 / 0);
                        transition: background-color 0.4s;
                        overflow: hidden;
                        &:hover {
                            background-color: rgb(255 255 255 / 0.2);
                        }
                        &::before {
                            display: block;
                            position: absolute;
                            left: 19px;
                            top: 0;
                            content: '';
                            width: 2px;
                            height: 100%;
                            background-color: white;
                        }
                        &::after {
                            display: block;
                            position: absolute;
                            left: 21px;
                            top: 19px;
                            content: '';
                            width: 9px;
                            height: 2px;
                            background-color: white;
                        }
                    }
                }
                .unfold {
                    height: auto;
                    .docs-panel-list-folder-icon {
                        transform: rotate(90deg);
                    }
                }
            }
        }
        .docs-content {
            width: 100%;
            min-height: 100vh;
            min-height: 100dvh;
            //background-color: rgba(255, 208, 0, 0.2);
            footer {
                width: fit-content;
                margin: 50px auto 20px auto;
                color: white;
                font-size: 12px;
                text-align: center;
                a {
                    color: white;
                    text-decoration: none;
                }
            }
        }
    }
}
.changelog-page {
    color: white;
    .markdown-body {
        box-sizing: border-box;
        min-width: 200px;
        max-width: 980px;
        margin: 0 auto;
        padding: 45px;
    }
}

@media (max-width:768px){
    .home-page {
        padding: 20px;
        .titlebox {
            .titleimg {
                margin-top: 40px;
            }
            .title-header {
                font-size: 40px;
            }
            .title-description {
                font-size: 16px;
                letter-spacing: 0;
                word-spacing: 0;
            }
            .title-navbar-main {
                height: auto;
                flex-direction: column;
                align-items: center;
                .home-navbtn {
                    margin-top: 10px;
                }
            }
        }
    }
}